body {
  font-family: 'Roboto', sans-serif;
  background-color: #252830;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

#topbar {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0; }
  #topbar .logo, #topbar nav {
    display: inline-block;
    vertical-align: top; }
  #topbar .logo {
    padding: 10px 0; }
    #topbar .logo img {
      width: 150px; }
  #topbar nav {
    padding-left: 1em;
    list-style: none; }
    #topbar nav li {
      padding: 14px;
      cursor: pointer; }
      #topbar nav li:hover {
        background-color: rgba(255, 255, 255, 0.1); }
  #topbar .search {
    float: right; }
    #topbar .search input {
      margin: 0;
      border: 0;
      padding: 0 1em;
      font-size: 1em;
      height: 48px;
      background-color: rgba(255, 255, 255, 0.1);
      outline: 0;
      color: #fff; }

.hr-row {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  color: #434857;
  font-size: 12px; }
  .hr-row h3 {
    position: relative;
    z-index: 2;
    margin: 0;
    display: inline-block;
    background-color: #252830;
    padding-left: 1em;
    padding-right: 1em;
    color: #6f7890;
    font-weight: normal; }
  .hr-row:before {
    content: "";
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: #434857; }

.container {
  padding-left: 40px;
  padding-right: 40px; }

#content {
  padding-top: 70px; }
