<!doctype html>
<html>
<head>
	<title>Zappem</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	{% block css %}{% endblock %}
</head>
<body>

	<div id="topbar">
		<div class="container">
			<div class="logo">
				<img src="/zappem.svg">
			</div>
			<nav>
				<li>
                    Projects <i class="fa fa-caret-down"></i>
                </li>
			</nav>
			<div class="search">
				<i class="fa fa-search"></i><input type="text" placeholder="Search...">
			</div>
		</div>
	</div>

	<div id="content">
		<div class="container">
			{% block content %}{% endblock %}
		</div>
	</div>

</body>
</html>
