{% extends 'layout/default.html' %}

{% block css %}
	<link href="/css/login.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="login-welcome">
		<h1>Welcome to Zappem.</h1>
		<p>
			Track your application's bugs effortlessly without extortionate monthly fees.
		</p>

		<ol>
			<li>Create a Zappem account</li>
			<li>Link your application to Zappem using our connector library</li>
			<li>Sit back and relax.</li>
		</ol>

	</div>

	<div class="login-box">
		<div class="hr-row">
			<h3>Log In</h3>
		</div>
	</div>
{% endblock %}